<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">МоёОбщежитие</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <%= link_to 'Главная' , root_path, class: 'nav-link active' %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Новости' , posts_path, class: 'nav-link' %>
                    </li>
                </ul>
                <%= link_to 'Личный кабинет' , profile_path, class: 'btn btn-primary' %>
            </div>
        </div>
    </nav>
</header>
<main class="container mt-5">
    <div class="row">
        <h1>Добро пожаловать!</h1>
        <p class="fs-5">
            Этот сайт создан с целью цифровизировать процессы в общежитии №5 МГТУ им. Баумана.
        </p>
        <p class="fs-5">
            На нашем сайте вы можете найти актуальные новости общежития, а также оставить заявки сотрудникам общежития.
        </p>
        <p class="fs-5">
            Соблюдайте правила внутреннего распорядка и наслаждайтесь проживанием.
        </p>
        <p class="fs-5 fst-italic">
            Успех неизбежен!
        </p>
    </div>
    <div class="row mt-3 mb-3">
        <%= image_tag 'main.jpg' , class: 'animate__animated animate__fadeInUp' %>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="fs-3" style="margin-left: 120px; margin-top: 120px;">
                <h2>Наш адрес</h5>
                    <p class="mt-2">Москва, Измайловский район</p>
                    <p>6-я парковая, 2/73</p>
            </div>
        </div>
        <div class="col-6">
            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac3b3b89b6e4e960d6d0cd695a4e3f2cc53a54247ef50106366e81c84a55b5cf9&amp;width=568&amp;height=463&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top m-5">
    <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">© 2022 Davydov, Inc</span>
    </div>

    <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            Телефон +79991234567
        </li>
        <li class="ms-3">
            Почта dormitory5bmstu@yandex.ru
        </li>
        <li class="ms-3">
            Телеграм @dormitory5bmstu
        </li>
    </ul>
</footer>