<header>
  <nav>
    <a href="/">Главная</a>
    <ul >
        <li>
            <a href="/news">Новости</a>
        </li>
        <li>
            <a href="/forms">Опросы</a>
        </li>
    </ul>
    <%= link_to 'Личный кабинет', '/users/' + @_current_user.login %>
  </nav>
</header>
<main></main>
<footer>Тут будут контакты</footer>
